<footer class="footer">
  <small>
    <a href="#">idea busket</a>
    by <a href="http://www.nairobicloud.com/">muriithi_kabogo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</footer>